stages:
    - test
    - build
    - deploy

before_script:
    - 'which ssh-agent'
    - 'eval $(ssh-agent -s)'
    - 'echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'

# ----------------------------------- AMBIENTES DE TESTES -------------------------------------

teste-cmbh:
    stage: deploy
    script:
        - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@cmbhecid "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
    environment: staging
    only:
        - teste

# teste-cmarinos:
#     stage: deploy
#     script:
#         - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
#         - 'ssh -o StrictHostKeyChecking=no contass@cmarinos.contassconsultoria.com.br "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
#     environment: staging
#     only:
#         - teste

teste-cmbocaiuva:
    stage: deploy
    script:
        - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@cmbocaiuva.contassconsultoria.com.br "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
    environment: staging
    only:
        - teste

teste-cmcapitaoeneas:
    stage: deploy
    script:
        - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@cmcapitaoeneas "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
    environment: staging
    only:
        - teste

teste-cmmoc:
    stage: deploy
    script:
        - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no ecidade@cmmoc.contassconsultoria.com.br "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
    environment: staging
    only:
        - teste

teste-cmnavarro:
    stage: deploy
    script:
        - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@cmnavarro.contassconsultoria.com.br "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
    environment: staging
    only:
        - teste

teste-cmuba:
    stage: deploy
    script:
        - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@cmuba.contassconsultoria.com.br "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
    environment: staging
    only:
        - teste

# teste-cisaje:
#     stage: deploy
#     script:
#         - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
#         - 'ssh -o StrictHostKeyChecking=no contass@cisaje.contassconsultoria.com.br "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
#     environment: staging
#     only:
#         - teste

# teste-ciiamaje:
#     stage: deploy
#     script:
#         - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
#         - 'ssh -o StrictHostKeyChecking=no contass@ciiamaje.contassconsultoria.com.br "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
#     environment: staging
#     only:
#         - teste

teste-e-cidade:
    stage: deploy
    script:
        - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@e-cidade.contassconsultoria.com.br "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
    environment: staging
    only:
        - teste

teste-pmpirapora:
    stage: deploy
    script:
        - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@pmpirapora.contassconsultoria.com.br "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
    environment: staging
    only:
        - teste

teste-pmvarzelandia:
    stage: deploy
    script:
        - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@pmvarzelandia.contassconsultoria.com.br "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
    environment: staging
    only:
        - teste

teste-pmverdelandia:
    stage: deploy
    script:
        - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@pmverdelandia.contassconsultoria.com.br "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
    environment: staging
    only:
        - teste

# teste-pmluislandia:
#     stage: deploy
#     script:
#         - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
#         - 'ssh -o StrictHostKeyChecking=no contass@pmluislandia.contassconsultoria.com.br "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
#     environment: staging
#     only:
#         - teste

# teste-pmcristalia:
#     stage: deploy
#     script:
#         - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
#         - 'ssh -o StrictHostKeyChecking=no contass@pmcristalia.contassconsultoria.com.br "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
#     environment: staging
#     only:
#         - teste

teste-pmibiracatu:
    stage: deploy
    script:
        - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@pmibiracatu.contassconsultoria.com.br "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
    environment: staging
    only:
        - teste

# teste-pmitacambira:
#     stage: deploy
#     script:
#         - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
#         - 'ssh -o StrictHostKeyChecking=no contass@pmitacambira.contassconsultoria.com.br "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
#     environment: staging
#     only:
#         - teste

teste-pmsaojoaodaponte:
    stage: deploy
    script:
        - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@pmsaojoaodaponte.contassconsultoria.com.br "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
    environment: staging
    only:
        - teste

teste-prevmoc:
    stage: deploy
    script:
        - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no ecidade@prevmoc.contassconsultoria.com.br "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
    environment: staging
    only:
        - teste

# teste-samuecid:
#     stage: deploy
#     script:
#         - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
#         - 'ssh -o StrictHostKeyChecking=no contass@samuecid.contassconsultoria.com.br "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
#     environment: staging
#     only:
#         - teste

teste-pmsaofrancisco:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@pmsaofrancisco.contassconsultoria.com.br "cd /var/www/e-cidade-teste && git checkout development && git pull origin teste "'
    environment: staging
    only:
        - teste

# ----------------------------------- AMBIENTES DE PRODUÇÃO -------------------------------------

cmbhecid:
    stage: deploy
    script:
        - 'ssh-add <(echo "$STAGING_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@cmbhecid "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 contass@cmbhecid "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master

cmarinos:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@cmarinos.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 contass@cmarinos.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master

cmbocaiuva:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@cmbocaiuva.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 contass@cmbocaiuva.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master

cmcapitaoeneas:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@cmcapitaoeneas "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 contass@cmcapitaoeneas "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master

cmmoc:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no ecidade@cmmoc.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 ecidade@cmmoc.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master

cmnavarro:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@cmnavarro.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 contass@cmnavarro.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master

cmuba:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@cmuba.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 contass@cmuba.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master

# cisaje:
#     stage: deploy
#     script:
#         - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
#         - 'ssh -o StrictHostKeyChecking=no contass@cisaje.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
#         - 'ssh -p22 contass@cisaje.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
#     environment: production
#     only:
#         - master

# ciiamaje:
#     stage: deploy
#     script:
#         - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
#         - 'ssh -o StrictHostKeyChecking=no contass@ciiamaje.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
#         - 'ssh -p22 contass@ciiamaje.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
#     environment: production
#     only:
#         - master

e-cidade:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@e-cidade.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 contass@e-cidade.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master

pmpirapora:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@pmpirapora.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 contass@pmpirapora.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master

pmvarzelandia:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@pmvarzelandia.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 contass@pmvarzelandia.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master

pmverdelandia:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@pmverdelandia.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 contass@pmverdelandia.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master

# pmluislandia:
#     stage: deploy
#     script:
#         - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
#         - 'ssh -o StrictHostKeyChecking=no contass@pmluislandia.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
#         - 'ssh -p22 contass@pmluislandia.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
#     environment: production
#     only:
#         - master

# pmcristalia:
#     stage: deploy
#     script:
#         - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
#         - 'ssh -o StrictHostKeyChecking=no contass@pmcristalia.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
#         - 'ssh -p22 contass@pmcristalia.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
#     environment: production
#     only:
#         - master

pmibiracatu:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@pmibiracatu.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 contass@pmibiracatu.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master

# pmitacambira:
#     stage: deploy
#     script:
#         - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
#         - 'ssh -o StrictHostKeyChecking=no contass@pmitacambira.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
#         - 'ssh -p22 contass@pmitacambira.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
#     environment: production
#     only:
#         - master

pmsaojoaodaponte:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@pmsaojoaodaponte.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 contass@pmsaojoaodaponte.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master

prevmoc:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no ecidade@prevmoc.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 ecidade@prevmoc.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master

# samuecid:
#     stage: deploy
#     script:
#         - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
#         - 'ssh -o StrictHostKeyChecking=no contass@samuecid.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
#         - 'ssh -p22 contass@samuecid.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
#     environment: production
#     only:
#         - master

pmsaofrancisco:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@pmsaofrancisco.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 contass@pmsaofrancisco.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master

pmclarodospocoes:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@pmclarodospocoes.contassconsultoria.com.br "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 contass@pmclarodospocoes.contassconsultoria.com.br "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master

mctrans:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no ecidade@10.251.27.64 "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 ecidade@10.251.27.64 "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master

prefeituras:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@prefeituras "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 contass@prefeituras "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master

cmpirapora:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@cmpirapora "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 contass@cmpirapora "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master
        
pmlagoadospatos:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@pmlagoadospatos "cd /var/www/e-cidade-git && git pull origin master "'
        - 'ssh -p22 contass@pmlagoadospatos "cd /var/www/e-cidade-git && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master
        
prefeituras2:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@10.250.30.24 "cd /var/www/e-cidade && git pull origin master "'
        - 'ssh -p22 contass@10.250.30.24 "cd /var/www/e-cidade && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master
        
teste:
    stage: deploy
    script:
        - 'ssh-add <(echo "$PRODUCTION_PRIVATE_KEY")'
        - 'ssh -o StrictHostKeyChecking=no contass@teste "cd /var/www/e-cidade-teste && git pull origin master "'
        - 'ssh -p22 contass@teste "cd /var/www/e-cidade-teste && php deploy_git.php && ./updatedb/update.sh "'
    environment: production
    only:
        - master