libs/db_conn.php
vendor
tmp/*
!tmp/.tmp
manuais
.idea
.vscode
.history
.editorconfig
config/sicom
imagens/files/
login_externo.php
config/preferencias.json
cache/*
updatedb/log/*
modification/*
*.zip
*.csv
updatedb/scripts*
libs/..cache/
*.yml
integracao_externa/portal_transparencia/log/
*.IMPT
imagens/obras/*
!imagens/obras/obras.txt
anexos/*
.phpintel/
dbforms/db_classesgenericas_Ago21_09:44.php